/* CSS DOCUMENT */

@charset "utf-8";

@font-face {
    font-family: "Cabinet Grotesk Regular";
    src: url(fuentes/CabinetGrotesk-Regular.otf) format(truetype);
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: "Cabinet Grotesk Bold";
    src: url(fuentes/CabinetGrotesk-Bold.otf) format(truetype);
    font-weight: bold;
    font-style: normal;}

@font-face {
    font-family: "Cabinet Grotesk Light";
    src: url(fuentes/CabinetGrotesk-Light.otf) format(truetype);
    font-weight: lighter;
    font-style: normal;}

*{
    font-family: "Cabinet Grotesk Regular";
    list-style: none;
    padding: 0px;
    box-sizing: border-box;}

body{
    background-color: rgb(209, 194, 220);}

header{
    background-image: url(imagenes/fondo-header.png);
    background-size: 100% 100%;
    height: 250px;
    padding: 40px;
    padding-left: 50px;
    padding-right: 60px;}

main{
    display: flex;
    align-items: center;
    flex-direction: column;}

section{
    width: 100%;}

nav{
    display: flex;
    gap: 25px;}

h1 {
    font-family: "Cabinet Grotesk Bold";
    font-size: 50px;
    color: rgb(97,54,134);
    text-align: center;}

h3 {
    font-family: "Cabinet Grotesk Bold";
    font-size: 20px;}

ul{
    padding: 0px;}

li{
    font-family: "Cabinet Grotesk Bold";
    font-size: 20px;
    padding-left: 20px;}

#presentacion{
    display: flex;
    flex-direction: column; 
    align-items: center;    
    text-align: center;
    max-width: 1200px;}

#educacion-experiencia, #habilidades-cursos, #portfolio, #contacto{
    max-width: 1200px;}

#presentacion article{
        display: flex;
        flex-direction: row;
        padding: 5px 25px 46px 20px;
        gap: 25px;
        max-width: 798px;
        flex-wrap: nowrap;
        align-items: center;}

#contacto li{
    font-size: 15px;}

.contenedor{
    display: flex;
    justify-content: space-between;}

.columnas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 152px;
    padding-bottom: 30px;}

.columnas2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-bottom: 30px;
    gap: 310px;}

.contenido{
    display: flex;
    gap: 50px;}

.contenido li{
    line-height: 50px;}

.materias h3 { 
    padding-left: 20px;}

.a{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 67px}
    
.b{
    display: flex;
    justify-content: space-between;
    padding: 20px;}

.orden{
    display: flex;}

.redes{
    padding-left: 20px;
    display: flex;
    flex-direction: column;}

.correo, .instagram{
    display: flex;
    align-items: center;
    gap: 20px;}

.trama{
    Background-image: url('imagenes/separador.png');
    Background-repeat: repeat;
    Width: 100%;
    height: 40px;}

p{
    font-size: 16px;
    color:rgb(117, 116, 116);
    text-align: left;
    line-height: 25px;}

h2 {
    font-family: "Cabinet Grotesk Bold";
    font-size: 30px;
    align-self: flex-start;
    color: rgb(97,54,134);
    padding-left: 20px;
    padding-top: 50px;
    margin: 30px 0px 20px 0px;} 

footer p{
    text-align: center;}