/* CSS DOCUMENT */

@charset "utf-8";

@font-face {
    font-family: "sansita regular";
    src: url(fuentes/Sansita-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;}

@font-face {
    font-family: "sansita bold";
    src: url(fuentes/Sansita-Bold.ttf) format(truetype);
    font-weight: bold;
    font-style: normal;}

@font-face {
    font-family: "sansita italic";
    src: url(fuentes/Sansita-Italic.ttf) format(truetype);
    font-weight: normal;
    font-style: italic;}

@font-face {
    font-family: "piazzolla regular";
    src: url(fuentes/Piazzolla-Regular.ttf) format(truetype);
    font-weight: normal;
    font-style: normal;}

:root{
    --violeta:rgb(57, 35, 71);
    --lila:rgb(208, 196, 216);
    --amarillo:rgb(255, 250, 205);}

*{
    font-family: "sansita regular";
    list-style: none;
    padding: 0px;
    box-sizing: border-box;}

body{
    background-color: var(--lila);}

header{
    background-color: var(--violeta);
    padding: 10px;
    padding-left: 50px;
    padding-right: 60px;}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 337px;
    padding-top: 150px;}

section{
    width: 100%;}

nav{
    display: flex;
    gap: 25px;
    font-family: "sansita regular";}

nav a{
    color: var(--amarillo);
    text-decoration: none;}

h1 {
    font-family: "sansita regular";
    font-size: 90px;
    color: var(--violeta);}

h3 {
    font-family: "sansita bold";
    font-size: 20px;}

ul{
    padding: 0px;}

li{
    font-family: "sansita bold";
    font-size: 20px;}

.datos{    
    display: flex;
    flex-direction: column;}

.presentacion{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: flex-start;}

section{
    max-width: 1200px;}

.contenedor{
    display: flex;
    justify-content: space-between;}

.columnas{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 152px;
    padding-bottom: 30px;}

.contenido{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 50px;}

p{
    font-family: "piazzolla regular";
    font-size: 16px;
    text-align: left;
    line-height: 25px;
    margin-top: 0px;
    max-width: 625px;}

h2 {
    font-family: "sansita bold";
    font-size: 30px;
    align-self: flex-start;
    color: var(--violeta);
    padding-top: 50px;
    margin: 30px 0px 20px 0px;} 

.fotos{
    display: flex;
    flex-wrap: nowrap;
    gap: 100px;}

form{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;}

form div{
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;}

label{
    display: block;
    height: 25px;
    padding: 0px 0 30px;}

input{
    width: 100%;
    height: 30px;
    border-color:var(--violeta);
    background-color:var(--lila);
    margin-bottom: 5px;}

input[type=checkbox]{
    width: auto;
    height: auto;}

textarea{
    width: 50%;
    height: 130px;
    background-color:var(--lila);
    border-color: var(--violeta);
    margin-bottom: 5px;}

input[type=submit], input[type=reset]{
    font-family: "sansita regular";
    background-color: var(--amarillo);
    height: 25px;
    width: 8%;}

footer{
    background-color: var(--violeta);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 90px;
    gap: 20px;
    padding-left: 50px;
    padding-right: 60px;}